:root {
  --color-white: 255, 255, 255;
  --color-pre-white: 231, 234, 240;
  --color-dark: 23, 23, 23;
  --color-grey: 68, 68, 68;
  --color-grey-light: 229, 229, 229;
  --color-red: 218, 0, 56;
  --color-red-light: 227, 163, 180;
  --color-blue: 41, 54, 89;
  --color-blue-light: 48, 113, 231;
  --color-black: 0, 0, 0;
  --color-yellow: 255, 225, 0;
}
