@import "./reset";
@import './fonts';
@import "./root";
@import "./ui/";

html {
  font-size: 16px;
}

.svg-fill,
.svg-stroke {
  transition: 0.3s;
}

.wrapper {
  background-color: rgb(var(--color-pre-white), 0.33);
  color: rgb(var(--color-dark));
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Vue-Toastification__toast {
  z-index: 10000000000000;
  position: relative;
}
