@import "./reset";
@import "./root";
@import "./ui/";

.svg-fill,
.svg-stroke {
  transition: 0.3s;
}

.wrapper {
  color: rgb(var(--color-dark));
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Vue-Toastification__toast {
  z-index: 10000000000000;
  position: relative;
}
